<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Create Project</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<h1>Create New Project</h1>
<form th:action="@{/projects}" th:object="${project}" method="post">
    <div>
        <label for="name">Project Name</label>
        <input type="text" id="name" name="name" th:field="*{name}" required>
    </div>
    <div>
        <button type="submit" class="btn btn-success">Create</button>
    </div>
</form>
</body>
</html>
