<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Your Projects</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<h1>Your Projects</h1>

<div th:if="${projects.size() == 0}">
    <p>Your projects: <strong>*empty*</strong></p>
</div>

<div th:if="${projects.size() > 0}">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}">
            <td th:text="${project.id}"></td>
            <td th:text="${project.name}"></td>
            <td th:text="${project.description}"></td>
            <td>
                <a th:href="@{/projects/{projectName}/tasks(projectName=${project.name})}"
                   th:text="${project.name}"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<a th:href="@{/projects/new}" class="btn btn-success">Create New Project</a>
</body>
</html>
