<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Tasks</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<h1 th:text="'Tasks for project: ' + ${project.name}"></h1>

<div th:if="${tasks.size() == 0}">
    <p>No tasks found for this project</p>
</div>

<div th:if="${tasks.size() > 0}">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>title</th>
            <th>Description</th>
            <th>due_date</th>
            <th>status</th>
            <th>project_id</th>
            <th>user_id</th>
            <th>priority</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.id}"></td>
            <td th:text="${task.title}"></td>
            <td th:text="${task.description}"></td>
            <td th:text="${task.dueDate}"></td>
            <td th:text="${task.status}"></td>
            <td th:text="${task.project.id}"></td>
            <td th:text="${task.user.id}"></td>
            <td th:text="${task.priority}"></td>
        </tr>
        </tbody>
    </table>
</div>
<a th:href="@{/projects/{projectName}/tasks/new(projectName=${project.name})}" class="btn btn-success">Add Task</a>
</body>
</html>
